.dots{
    position:absolute;
    bottom:20px;
    width:100%;
    margin:20px auto 0;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    z-index:500
}
.dots .dot{
    cursor:pointer;
    height:16px;
    width:16px;
    margin:0 10px;
    border-radius:50%;
    border:solid #b19c9c;
    display:inline-block;
    -webkit-transition:background-color,-webkit-transform .4s;
    transition:background-color,transform .4s,-webkit-transform .4s
}
.dots .dot-active{
    background-color:#3a6bc5;
    -webkit-transform:scale(1.2);
    transform:scale(1.2)
}
.dots .dot:hover{
    background-color:#1e75a0;
    -webkit-transform:scale(1.2);
    transform:scale(1.2)
}